<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="css/blue/bases.css" rel="stylesheet" />
    <link href="css/blue/index.css" rel="stylesheet" title="theme" />
    <script src="../Js/jquery-1.4.2.min.js" type="text/javascript"></script>
    <script src="js/Info.js" type="text/javascript"></script>
    <script src="js/Theme.js" type="text/javascript"></script>
</head>
<body style="height: 100%; font-family: 微软雅黑,Arial, Helvetica, sans-serif,\5b8b\4f53, sans-serif;">
    <form id="form1" runat="server" style="height: 100%;">
        <div id="page_left">
            <div id="meuntree">
                <div class="mtree_title">
                    管理菜单
                </div>
                <ul id="ultxt">
                </ul>
                <p class="ptitle"><a href="#" onclick="ulshowtwo()">开发信息</a></p>
                <div id="left_minfo">
                    <p class="liline"></p>
                    <p class="ptcont">技术支持：筑人网络</p>
                    <p class="ptcont">QQ：1277538260</p>
                    <p>联系方式：029-87627669</p>
                </div>
            </div>
            <div id="left_l" onclick="changeVisible()">
                <div class="divleftfloat"></div>
            </div>

        </div>
    </form>
</body>
</html>
