body{ background-color:#d9eecd;}
#logindiv{ width:600px; height:468px; margin:0px auto; margin-top:100px; background:url('images/login_bg.jpg') no-repeat;}
#logindiv .loginmain{  width:500px;  height:300px;  margin:0px auto; padding-top:63px;}
#logindiv  .maintop{width:247px;  height:79px;background:url('images/login_tl.gif') no-repeat;margin:0px auto; }
#logindiv .maincontents{width:260px; height:150px;margin:0px auto; margin-top:10px;}
#logindiv .contentsleft { width:255px; height:150px; float:left;}
#logindiv .contentsleft  div{ margin-top:10px; height:30px;}
#logindiv .contentsleft input{float:right; }
#logindiv .contentsleft span{ float:left; font-size:16px; display:block; width:70px; height:22px; line-height:20px; color:White}
#logindiv .contentsright{width:106px;display:none;  height:88px; background:url('images/denglu2.gif') no-repeat; float:left;
                        margin-top:10px; margin-left:10px; cursor:pointer; }
#logindiv  .checkwidth{ border:none;color:white;float:right;  margin-right:8px;  width:105px !important;padding-left:10px; height:27px;line-height:20px;  background:url('images/yanzm3.gif') no-repeat;}

#logindiv  .imgwidth{ width:50px !important; height:23px; float:right; margin-right:8px;border:#999 solid 1px;}

#logindiv  .loginbtn{ outline:none; display:block; width:106px; height:88px; border:none;}
#logindiv .mainbottom{color:#777; font-size:12px; text-align:center; height:30px; line-height:30px; margin-top:166px; }
#logindiv .textbg{ border:none; color:white; background:url('images/yhm2.gif') no-repeat; width:173px; padding-left:10px; height:28px;line-height:20px;}

#btmlogin{ text-align:center; width:220px; height:30px;}
#btmlogin input{ }
#btmlogin span{ float:left;}
.loginbtmbtn{ margin-left:70px; outline:none; display:block; float:left; width:68px; height:28px; background:url('images/denglu2.gif') no-repeat;border:none;}

.loginbtmreset{ outline:none; display:block;  margin-left:13px; float:left; cursor:pointer; width:68px !important; height:28px !important; background:url('images/chozhi2.gif') no-repeat;border:none;}

