<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-cn">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title><?=title?></title>
    <link href="css/base.css" rel="stylesheet" />
    <link href="css/help.css" rel="stylesheet" />

</head>
<body>
    <div class="one">
        <h3>root.less  的使用</h3>
        <div class="cons">
            在root里已全部定义了网站所使用到的颜色，在其他样式文件里<b>禁止</b>出现重新定义颜色的css代码。
        </div>
        <pre>
            @alink: #067c99;    //a链接颜色
            //规格上的颜色样式
            @a-color: #ffffff;            @white:#fff;   //白色
            @b-color: #067c99;         @searchcolor: #067c99; //搜索边框的顶部颜色
            @c-color: #4dbbd4;        @titlebg: #4dbbd4;     //标题背景色
            @d-color: #f5f5f5;          @listtitlebg: #f5f5f5; //列表标题颜色
            @e-color: #d9d9d9;        @borcolor: #d9d9d9; //边框颜色
            @f-color: #ff8800;          @alinkhover: #f80;    //a:hover 颜色，金额字体颜色
            @g-color: #eeeeee;
            @h-color: #10b6c9;        @searchbtnbg: #10b6c9;    //搜索btn背景颜色
            @i-color: #313131;          @defcolor:#313131;   //默认字体---base里已设为全局默认样式
            @j-color: #737373;          //文本框内的提示字颜色  HTML5 中可不设置
            @k-color:#fad1a5;           //登录错误块  边框色
            @l-color: #fffedf;              //登录错误块  背景色
            @m-color: #ffe6cb;          //提示信息块  边框色
            @n-color: #fefff1;             //提示信息块  背景色
            @o-color: #d80000;          //文本框---错误---边框色
        </pre>
    </div>
    <div class="two">
        <h3>button  style </h3>
        <pre>
            //button
            .basebtn(@width,@height,@bgcolor,@display){color:@a-color; display: @display;background-color: @bgcolor; 
                        width: @width; height: @height; line-height: @height;border: none;border-radius:3px;  }
            //blue  btn
            .btnblue(@width,@height,@display: block) { .basebtn(@width,@height,@h-color,@display);
                 &:hover{ opacity:.7; }
            }
            //deep blue btn
            .btndeepblue(@width,@height,@display: block) { .basebtn(@width,@height,@b-color,@display);
                 &:hover{ opacity:.6; }  
            }
            //orange btn
            .btnorange(@width,@height,@display: block){ .basebtn(@width,@height,@f-color,@display);
                  &:hover{ opacity:.8; }  
            }
        </pre>
        <p>蓝色按钮</p>
        <p>使用：</p>
        <pre>
            .search-btn{ .btnblue(58px,30px);}</pre>
        <p>结果：</p>
        <div>
            <input class="search-btn" type="button"  value="搜索"/>
        </div>

        <p>橘黄色按钮</p>
        <p>使用：</p>
        <pre>
             .search-btns{ .btnorange(80px,30px);}</pre>
        <p>结果：</p>
        <div>
            <input class="search-btns" type="button" value="搜索" />
        </div>
    </div>
</body>
</html>
