<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="favicon.ico" sizes="16x16 32x32">
    <style>
        h2 { text-align: center; }
        img { margin-left: 2em; }
        .main { width: 90%; margin: 0 auto; }
        .cite { background: #eee; padding: 10px; text-indent: 2em; line-height: 20px; }
    </style>
</head>
<body>
    <div class="main">
        <h2>gulp 使用</h2>
         <a href="require.html"><em> angular和require的简易事例</em></a>
        <div class="cite">
            Gulp是一个基于流的管道式自动化构建工具。易于使用：采用代码优于配置策略，Gulp让简单的事情继续简单，复杂的任务变得可管理。高效：通过利用Node.js强大的流，不需要往磁盘写中间文件，可以更快地完成构建。
            高质量：Gulp严格的插件指导方针，确保插件简单并且按你期望的方式工作。
            易于学习：通过把API降到最少，你能在很短的时间内学会Gulp。构建工作就像你设想的一样：是一系列流管道。
        </div>
        <h3>安装和使用步骤如下：</h3>
        <div class="cite">
            安装nodejs -> 全局安装gulp -> 项目安装gulp以及gulp插件 -> 配置gulpfile.js -> 运行任务
        </div>
        <h3>1.安装nodejs</h3>
        <div class="cite">
            打开 <a href="https://nodejs.org" target="_blank"> nodejs官网</a>,下载window版本，安装即可。
        </div>

        <h3>2.全局安装gulp</h3>
        <div class="cite">
            <p> 命令提示符执行npm install gulp -g </p>
            <img src="Content/images/1.png" alt="" />
            <p> 查看是否正确安装：命令提示符执行gulp -v，出现版本号即为正确安装。</p>
            <img src="Content/images/2.png" alt="" />
        </div>
        <h3>3.新建package.json文件</h3>
        <div class="cite">
            <p>package.json是基于nodejs项目必不可少的配置文件，它是存放在项目根目录的普通json文件，可以手动新建它，也可以命令符新建 </p>
            <p>命令符新建:进入项目根目录，命令提示符执行npm init，然后完成填写信息。</p>
            <img src="Content/images/3.png" alt="" />
        </div>
        <h3>4.安装gulp 插件</h3>
        <div class="cite">
            <p>以gulp-concat为例：使用gulp-concat合并javascript文件，减少网络请求</p>
            <p>在项目根目录，命令提示符执行npm install gulp-concat --save-dev</p>
        </div>
        <h3>5.配置gulpfile.js</h3>
        <img src="Content/images/4.png" alt="" /><div class="cite">
        <p>目录如下：</p>
            <img src="Content/images/5.png" alt="" />
        </div>
        <h3>6.执行</h3>
        <div class="cite">
            <p>命令提示符执行：gulp testConcat，两个文件合并为all.js文件</p>
            <img src="Content/images/6.png" alt="" />
        </div>
        <h3>7.其他</h3>
        <div class="cite">
            <p>js压缩：gulp-uglify</p>
            <p>css压缩：gulp-minify-css(引用url添加版本号避免缓存)</p>
            <p>图片压缩: gulp-imagemin</p>
            <p>html压缩: gulp-htmlmin</p>
            <p>编译less文件：gulp-less</p>
            
        </div>
      
    </div>
</body>
</html>
